@model IEnumerable<NoteViewModel>
@{
    int index = 0;
    
}
<h1>My notes.</h1>
@foreach (var note in Model)
{
    string offcanvasId = "offcanvas" + index;
    string offcanvasLabelId = "offcanvas" + index;

    <div class="card text-center">
        <div class="card-header">
            Note: @index
        </div>
        <div class="card-body">
            <h5 class="card-title">@note.Title</h5>
            <p class="card-text">@note.Content</p>
            <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#@offcanvasId" aria-controls="offcanvasWithBothOptions">Edit Note</button>
            <form asp-controller="Note" asp-action="Delete" asp-route-id="@note.Id" method="post">
                <input type="hidden" name="id" value="@note.Id" />
                <button type="submit" class="btn btn-danger">Delete</button>
            </form>
        </div>
        <div class="card-footer text-body-secondary">
            <p>Last edited: @(note.LastUpdatedAt.Year > 2000 ? note.LastUpdatedAt : note.CreatedAt)</p>
        </div>
    </div>

    <div class="offcanvas offcanvas-start" data-bs-scroll="true" tabindex="-1" id="@offcanvasLabelId" aria-labelledby="offcanvasWithBothOptionsLabel">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="@note.">New Note</h5>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            @{
                await Html.RenderPartialAsync("_EditNotePartial", note);
            }
        </div>
    </div>
    index++;
}

<button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasWithBothOptions" aria-controls="offcanvasWithBothOptions">Add New Note</button>

<div class="offcanvas offcanvas-start" data-bs-scroll="true" tabindex="-1" id="offcanvasWithBothOptions" aria-labelledby="offcanvasWithBothOptionsLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasWithBothOptionsLabel">New Note</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        @{
            await Html.RenderPartialAsync("_AddNotePartial", new NoteFormModel());
        }
    </div>
</div>


